/* HEADER STYLES */

header {
	height: 5vh;
	display: flex;
	padding: 2vw 4vw;
	align-items: center;
	background-color: rgba(255, 0, 0, 0.2);

	svg {
		width: 8vw;
	}

	h1 {
		font-size: 4vw;
		margin-left: 10vw;
		letter-spacing: 3vw;
		font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	}
}