/* HEADER STYLES */

header {
	z-index: 2;
	display: flex;
	padding: 2vw 4vw;
	align-items: center;

	svg {
		width: 8vw;
	}

	h1 {
		font-size: 4.3vw;
		margin-left: 12vw;
		letter-spacing: 1.7vw;
		font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	}
}