/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: proximaNova-Medium;
  src: url(./fonts/ProximaNova-Medium.ttf);
}

@font-face {
  font-family: gtWalsheim-light;
  src: url(./fonts/gt-walsheim-light-web.ttf);
}

@font-face {
  font-family: FreightBigPro-BoldItalic;
  src: url(./fonts/FreightBigPro_BoldItalic.otf);
}

@font-face {
  font-family: FreightBigPro-Book;
  src: url(./fonts/FreightBigPro_Book.otf);
}

body {
  color: #000000;
  background: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  margin: 0 auto;
  max-width: 1440px;
  background-color: #FFFFFF;
}

section {
  padding-left: 3.48vw;
}

@media only screen and (min-width: 1440px) {
  section {
    padding-left: 50.1px;
  }
}

.container {
  margin-left: 3.48vw;
  margin-right: 8vw;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

h2 {
  font-size: 6vw;
  margin-bottom: 3.5vw;
  font-family: FreightBigPro-Book;
}

@media only screen and (min-width: 1440px) {
  h2 {
    font-size: 4.167vw;
    margin-bottom: 2.639vw;
  }
}

@media only screen and (min-width: 1440px) {
  h2 {
    font-size: 60px;
    margin-bottom: 38px;
  }
}

p {
  font-size: 3vw;
  font-family: gtWalsheim-light;
  margin-bottom: 2vw;
}

@media only screen and (min-width: 768px) {
  p {
    font-size: 1.458vw;
    line-height: 1.632vw;
  }
}

@media only screen and (min-width: 1440px) {
  p {
    margin-bottom: 28.8px;
    font-size: 21px;
    line-height: 23.5px;
  }
}

header {
  width: 100vw;
  height: 96px;
  color: #000000;
  display: flex;
  position: fixed;
  align-items: center;
  letter-spacing: 0.2vw;
  background-color: #FFFFFF;
  justify-content: space-between;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 768px) {
  header {
    width: 1440px;
  }
}

header .header-logo {
  width: 73px;
  height: 67px;
  margin-left: 5vw;
}

@media only screen and (min-width: 768px) {
  header .header-logo {
    margin-left: 69px;
  }
}

header ul {
  margin-right: 5vw;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  header ul {
    margin-right: 70px;
  }
}

header li {
  float: left;
  font-size: 12px;
  padding-right: 20px;
  font-family: proximaNova-Medium;
}

@media only screen and (min-width: 1400px) {
  header {
    font-size: 14px;
  }
}

.hero {
  height: 700px;
  color: #FFFFFF;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(img/telon.jpg);
}

@media only screen and (min-width: 768px) {
  .hero {
    height: 895px;
    overflow-y: scroll;
  }
}

.hero .hero-content {
  width: 65vw;
  margin: 0 auto;
  text-align: center;
  padding-top: 150px;
}

@media only screen and (min-width: 768px) {
  .hero .hero-content {
    padding-top: 470px;
  }
}

@media only screen and (min-width: 1440px) {
  .hero .hero-content {
    width: 925px;
  }
}

.hero h3 {
  font-size: 6vw;
  font-family: FreightBigPro-BoldItalic;
  margin-bottom: 13vw;
}

@media only screen and (min-width: 768px) {
  .hero h3 {
    font-size: 3.819vw;
    margin-bottom: 340px;
  }
}

@media only screen and (min-width: 1440px) {
  .hero h3 {
    font-size: 55px;
  }
}

.hero p {
  font-family: gtWalsheim-light;
  font-size: 4vw;
  line-height: 4.5vw;
  margin-bottom: 11vw;
}

@media only screen and (min-width: 768px) {
  .hero p {
    font-size: 3.819vw;
    margin-bottom: 17.361vw;
  }
}

@media only screen and (min-width: 1440px) {
  .hero p {
    font-size: 55px;
    line-height: 57.91px;
    margin-bottom: 250px;
  }
}

.two-columns-container {
  color: #000;
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px #000000;
  padding: 7vw 8vw 7vw 3.48vw;
}

@media only screen and (min-width: 768px) {
  .two-columns-container {
    padding: 5.278vw 8vw 0 3.48vw;
  }
}

@media only screen and (min-width: 1400px) {
  .two-columns-container {
    padding-top: 76px;
  }
}

.two-columns-container .column {
  text-align: left;
  padding: 0 6vw 1vw 0;
}

@media only screen and (min-width: 768px) {
  .two-columns-container .column {
    padding: 0 10vw 1vw 3vw;
  }
}

@media only screen and (min-width: 1400px) {
  .two-columns-container .column {
    padding: 0 144px 14.4px 43.2px;
  }
}

.two-columns-container p {
  letter-spacing: 0.4px;
}

@media only screen and (min-width: 768px) {
  .two-columns-container p {
    letter-spacing: 0.8px;
  }
}

.two-columns-container .no-padding {
  padding: 0;
}

.two-columns-container ul {
  width: 60%;
  margin: 0 auto;
}

.two-columns-container li {
  text-align: left;
  margin-bottom: 1vw;
  font-size: 1.3vw;
}

.conservacion {
  padding: 2.78vw 8vw 6.94vw 3.48vw;
}

@media only screen and (min-width: 1440px) {
  .conservacion {
    padding: 40px 115.2px 100px 50.11px;
  }
}

.conservacion h1 {
  color: #000000;
  font-size: 6.806vw;
  line-height: 6.806vw;
  font-family: FreightBigPro-Book;
}

@media only screen and (min-width: 768px) {
  .conservacion h1 {
    font-size: 6.6vw;
  }
}

@media only screen and (min-width: 1440px) {
  .conservacion h1 {
    font-size: 98px;
    line-height: 98px;
  }
}

.conservacion h1 span {
  color: #E92C4E;
  font-family: FreightBigPro-BoldItalic;
}

.siempre-telon {
  color: #FFFFFF;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  padding: 10vw 8vw 8.13vw 3.48vw;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  background-image: url(./img/pulseTeatro.jpg);
}

@media only screen and (min-width: 1440px) {
  .siempre-telon {
    padding: 153px 115.1px 117px 50.1px;
  }
}

.siempre-telon p {
  width: 41.53vw;
  margin-left: 4.86vw;
}

@media only screen and (min-width: 1440px) {
  .siempre-telon p {
    width: 598px;
    margin-left: 70px;
  }
}

.siempre-telon p span {
  font-size: 4vw;
  line-height: 4vw;
  font-family: FreightBigPro-BoldItalic;
}

@media only screen and (min-width: 768px) {
  .siempre-telon p span {
    font-size: 1.708vw;
    line-height: 1.854vw;
  }
}

@media only screen and (min-width: 1440px) {
  .siempre-telon p span {
    font-size: 24.6px;
    line-height: 26.7px;
  }
}

.video-container {
  display: flex;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 8.05vw 3.48vw 6.74vw;
}

@media only screen and (min-width: 768px) {
  .video-container {
    padding: 8.05vw 9.17vw 6.74vw;
  }
}

@media only screen and (min-width: 1400px) {
  .video-container {
    padding: 116px 132px 97px;
  }
}

.video-container iframe {
  width: 93vw;
  height: 50.1158vw;
}

@media only screen and (min-width: 768px) {
  .video-container iframe {
    width: 81.67vw;
  }
}

@media only screen and (min-width: 1400px) {
  .video-container iframe {
    width: 1176px;
    height: 635px;
  }
}

.etapas-proceso {
  padding-top: 5.069vw;
  padding-bottom: 5.625vw;
  padding-left: 0;
  background-color: #EEEEEE;
  background-repeat: repeat-x;
  background-image: url(./img/redDash.png);
  background-position-y: center;
}

@media only screen and (min-width: 1440px) {
  .etapas-proceso {
    padding-top: 73px;
    padding-bottom: 81px;
  }
}

.etapas-proceso h2 {
  color: #E92C4E;
  margin-bottom: 2.153vw;
  padding-left: 3.48vw;
}

@media only screen and (min-width: 1440px) {
  .etapas-proceso h2 {
    margin-bottom: 31px;
    padding-left: 50.1px;
  }
}

.etapas-proceso p {
  font-family: FreightBigPro-BoldItalic;
  font-size: 4vw;
}

@media only screen and (min-width: 768px) {
  .etapas-proceso p {
    font-size: 1.71vw;
  }
}

@media only screen and (min-width: 1440px) {
  .etapas-proceso p {
    font-size: 24.64px;
  }
}

.etapas-proceso .outer-slider-container .slick-slide {
  margin: 0;
  background-color: #FFFFFF;
  padding: 2.57vw 6.042vw 2.819vw 5.07vw;
}

@media only screen and (min-width: 768px) {
  .etapas-proceso .outer-slider-container .slick-slide {
    margin: 0 4.306vw;
  }
}

@media only screen and (min-width: 1440px) {
  .etapas-proceso .outer-slider-container .slick-slide {
    margin: 0 62px;
    padding: 37px 87px 40.59px 73px;
  }
}

.etapas-proceso .inner-slider-container .slick-slide {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}

.etapas-proceso .slick-dots {
  bottom: 15px;
}

@media only screen and (min-width: 768px) {
  .etapas-proceso .slick-dots li {
    margin: 0;
  }
}

.etapas-proceso .slick-dots li button:before {
  color: #FFFFFF;
  opacity: 1;
  font-size: 11vw;
}

@media only screen and (min-width: 768px) {
  .etapas-proceso .slick-dots li button:before {
    font-size: 2.083vw;
  }
}

@media only screen and (min-width: 1440px) {
  .etapas-proceso .slick-dots li button:before {
    font-size: 30px;
  }
}

.etapas-proceso .slick-dots li.slick-active button:before {
  color: #CCCCCC;
}

.fondos {
  padding-top: 10.625vw;
}

@media only screen and (min-width: 1440px) {
  .fondos {
    padding-top: 153px;
  }
}

.fondos .fondos-content {
  padding-bottom: 10.069vw;
  padding-right: 13.4vw;
}

@media only screen and (min-width: 768px) {
  .fondos .fondos-content {
    display: flex;
    padding-right: 0;
    margin-left: 5.9vw;
    flex-direction: row;
    padding-top: 4.931vw;
  }
}

@media only screen and (min-width: 1440px) {
  .fondos .fondos-content {
    margin-left: 85px;
    padding-top: 71px;
    padding-bottom: 145px;
  }
}

.fondos .fondos-content .left-column {
  margin-bottom: 4vw;
  padding: 3.2vw 2.847vw 3vw 5vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  background-image: url(./img/fondoTransparente.png);
}

@media only screen and (min-width: 768px) {
  .fondos .fondos-content .left-column {
    text-align: right;
    margin-bottom: 0;
    padding: 2.5vw 2.847vw 3.472vw 0;
  }
}

@media only screen and (min-width: 1440px) {
  .fondos .fondos-content .left-column {
    padding: 36px 45px 50px 0;
  }
}

.fondos .fondos-content .left-column p {
  font-size: 4vw;
  margin-bottom: 0;
  font-family: FreightBigPro-BoldItalic;
}

@media only screen and (min-width: 768px) {
  .fondos .fondos-content .left-column p {
    font-size: 2.5vw;
    line-height: 2.5vw;
  }
}

@media only screen and (min-width: 1440px) {
  .fondos .fondos-content .left-column p {
    font-size: 37px;
    line-height: 37px;
  }
}

.fondos .fondos-content .right-column {
  padding-left: 5vw;
  padding-right: 5vw;
}

@media only screen and (min-width: 768px) {
  .fondos .fondos-content .right-column {
    padding-left: 2.22vw;
    padding-right: 13.403vw;
  }
}

@media only screen and (min-width: 1440px) {
  .fondos .fondos-content .right-column {
    padding-left: 32px;
    padding-right: 193px;
  }
}

.calendario {
  padding-bottom: 3.125vw;
}

.calendario > img {
  display: none;
}

@media only screen and (min-width: 768px) {
  .calendario {
    padding-bottom: 10.417vw;
  }
}

@media only screen and (min-width: 1440px) {
  .calendario {
    padding-bottom: 150px;
  }
}

.calendario .svg {
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 768px) {
  .calendario .slider-calendario {
    display: none;
  }
}

.calendario .slick-dots li button:before {
  color: #CCCCCC;
  opacity: 1;
  font-size: 11vw;
}

.calendario .slick-dots li.slick-active button:before {
  color: #EEEEEE;
}

.faq {
  padding-right: 3.48vw;
}

.faq .columns-container {
  display: flex;
  flex-direction: row;
}

@media only screen and (min-width: 768px) {
  .faq {
    padding-right: 3.48vw;
    padding-bottom: 6.597vw;
  }
}

@media only screen and (min-width: 1440px) {
  .faq {
    padding-right: 50.1px;
    padding-bottom: 95px;
  }
}

.faq .faq-buttons {
  display: block;
  margin-bottom: 10vw;
}

@media only screen and (min-width: 768px) {
  .faq .faq-buttons {
    display: flex;
    margin-bottom: 0;
  }
}

.faq .red-line {
  flex-grow: 7;
  margin-top: 2.6vw;
  padding-bottom: 4.831vw;
  border-top: solid 3px #E92C4E;
}

@media only screen and (min-width: 768px) {
  .faq .red-line {
    margin-top: 1.042vw;
    padding-bottom: 1.302vw;
  }
}

@media only screen and (min-width: 1440px) {
  .faq .red-line {
    margin-top: 15px;
    padding-bottom: 10px;
  }
}

.faq h4 {
  color: #E92C4E;
  font-size: 5vw;
  margin: 0 5vw;
  letter-spacing: 1.597vw;
  font-family: proximaNova-Medium;
}

@media only screen and (min-width: 768px) {
  .faq h4 {
    font-size: 2.326vw;
    margin-bottom: 10.417vw;
  }
}

@media only screen and (min-width: 1440px) {
  .faq h4 {
    margin: 0 70px;
    font-size: 33.49px;
    margin-bottom: 150px;
    letter-spacing: 23px;
  }
}

.faq h5 {
  font-size: 4vw;
  margin-bottom: 3.1vw;
  font-family: FreightBigPro-BoldItalic;
}

@media only screen and (min-width: 768px) {
  .faq h5 {
    font-size: 3.1vw;
  }
}

@media only screen and (min-width: 1440px) {
  .faq h5 {
    font-size: 44.64px;
    margin-bottom: 44.64px;
  }
}

.faq .padding-left-container {
  padding-left: 5.069vw;
}

@media only screen and (min-width: 1440px) {
  .faq .padding-left-container {
    padding-left: 73px;
  }
}

.faq .colorful-paragraphs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .faq .colorful-paragraphs {
    justify-content: normal;
  }
}

.faq .colorful-paragraphs p {
  padding: 1.93vw 1.208vw;
  border-radius: 10px;
  margin-bottom: 4vw;
}

@media only screen and (min-width: 768px) {
  .faq .colorful-paragraphs p {
    padding: 0 5px;
    margin-bottom: 2vw;
  }
}

.faq .colorful-paragraphs p:nth-child(1), .faq .colorful-paragraphs p:nth-child(6) {
  background-color: #F3D04B;
}

.faq .colorful-paragraphs p:nth-child(2), .faq .colorful-paragraphs p:nth-child(8) {
  background-color: #4D7FF2;
}

.faq .colorful-paragraphs p:nth-child(3), .faq .colorful-paragraphs p:nth-child(9) {
  background-color: #87D870;
}

.faq .colorful-paragraphs p:nth-child(4) {
  background-color: #F86E50;
}

.faq .colorful-paragraphs p:nth-child(5) {
  color: #FFFFFF;
  background-color: #551D78;
}

.faq .colorful-paragraphs p:nth-child(7) {
  background-color: #DB3743;
}

.faq .colorful-paragraphs p:nth-child(10) {
  background-color: #87E0F8;
}

.faq .colorful-paragraphs p:nth-child(11) {
  background-color: #4D7FF2;
}

@media only screen and (min-width: 768px) {
  .faq .colorful-paragraphs p {
    font-size: 1.086vw;
    margin-right: 0.903vw;
    margin-bottom: 1.235vw;
  }
  .faq .colorful-paragraphs p:hover {
    cursor: pointer;
  }
}

@media only screen and (min-width: 1440px) {
  .faq .colorful-paragraphs p {
    font-size: 15.64px;
    margin-right: 13px;
    margin-bottom: 17.78px;
  }
}

@media only screen and (min-width: 768px) {
  .faq .colorful-container {
    width: 46vw;
  }
}

.faq .dynamic-diagram {
  height: 70vw;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./img/tramoya01.png);
}

@media only screen and (min-width: 768px) {
  .faq .dynamic-diagram {
    width: 54vw;
    height: auto;
    min-height: 37.361vw;
  }
}

@media only screen and (min-width: 1440px) {
  .faq .dynamic-diagram {
    min-height: 538px;
  }
}

.faq .questions-container {
  display: none;
}

@media only screen and (min-width: 768px) {
  .faq .questions-container {
    margin-top: 8.333vw;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1440px) {
  .faq .questions-container {
    margin-top: 120px;
  }
}

.faq .left-column,
.faq .right-column {
  width: 40.8vw;
  max-width: 49.9%;
}

.faq .question {
  transition: 0.2s;
  border-radius: 15px;
  font-family: FreightBigPro-BoldItalic;
  background-position: bottom;
  background-repeat: repeat-x;
  background-image: url(./img/questionBg.png);
}

@media only screen and (min-width: 768px) {
  .faq .question {
    margin-bottom: 3.125vw;
    font-size: 1.492vw;
  }
  .faq .question:hover {
    cursor: pointer;
  }
}

@media only screen and (min-width: 1440px) {
  .faq .question {
    margin-bottom: 45px;
    font-size: 21.48px;
  }
}

.faq .active {
  margin-bottom: 0;
  border-radius: 15px 15px 0 0;
  background-image: none;
}

.faq .answer {
  display: none;
  overflow: hidden;
  border-radius: 0 0 15px 15px;
  background-color: #E9E9E9;
}

@media only screen and (min-width: 768px) {
  .faq .answer {
    margin-bottom: 3.125vw;
  }
}

@media only screen and (min-width: 1440px) {
  .faq .answer {
    margin-bottom: 45px;
  }
}

.faq .question,
.faq .answer {
  border: 1px solid #E9E9E9;
}

@media only screen and (min-width: 768px) {
  .faq .question,
  .faq .answer {
    padding: 0.694vw 3.472vw 1.389vw 1.389vw;
  }
}

@media only screen and (min-width: 1440px) {
  .faq .question,
  .faq .answer {
    padding: 10px 50px 20px 20px;
  }
}

.proyecto-conservacion {
  color: #FFFFFF;
  padding-top: 11.875vw;
  padding-bottom: 7.986vw;
  background-size: cover;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  background-image: url(./img/proyectosConservacionBg.jpg);
}

@media only screen and (min-width: 768px) {
  .proyecto-conservacion {
    font-size: 3.621vw;
    padding-top: 11.875vw;
  }
}

@media only screen and (min-width: 1440px) {
  .proyecto-conservacion {
    font-size: 52.14px;
    padding-top: 171px;
    padding-bottom: 115px;
  }
}

.proyecto-conservacion h3 {
  font-size: 5.5vw;
  margin-bottom: 5.208vw;
  font-family: FreightBigPro-Book;
}

.proyecto-conservacion h3 span {
  color: #E92C4E;
  font-family: FreightBigPro-BoldItalic;
}

@media only screen and (min-width: 768px) {
  .proyecto-conservacion h3 {
    width: 43.056vw;
    font-size: 3.621vw;
  }
}

@media only screen and (min-width: 1440px) {
  .proyecto-conservacion h3 {
    width: 620px;
    font-size: 52.14px;
    margin-bottom: 75px;
  }
}

.apoyemos {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .apoyemos {
    font-size: 2.339vw;
  }
}

@media only screen and (min-width: 1440px) {
  .apoyemos {
    font-size: 33.68px;
    padding-top: 100px;
  }
}

.apoyemos h3 {
  margin-top: 6vw;
  font-size: 5.5vw;
  margin-bottom: 4vw;
  font-family: FreightBigPro-BoldItalic;
}

@media only screen and (min-width: 768px) {
  .apoyemos h3 {
    font-size: 2.339vw;
    margin-bottom: 3.125vw;
  }
}

@media only screen and (min-width: 1440px) {
  .apoyemos h3 {
    font-size: 33.68px;
    margin-bottom: 45px;
  }
}

.apoyemos p {
  font-family: gtWalsheim-light;
}

.apoyemos img {
  width: 50vw;
  margin-bottom: 10.069vw;
}

@media only screen and (min-width: 768px) {
  .apoyemos img {
    width: auto;
    margin-top: 3.819vw;
  }
}

@media only screen and (min-width: 1440px) {
  .apoyemos img {
    margin-top: 55px;
    margin-bottom: 145px;
  }
}

.apoyemos h2 {
  margin-bottom: 6.944vw;
}

@media only screen and (min-width: 768px) {
  .apoyemos h2 {
    line-height: 4.524vw;
  }
}

@media only screen and (min-width: 1440px) {
  .apoyemos h2 {
    line-height: 65.14px;
    margin-bottom: 100px;
  }
}

.apoyemos h2 span {
  color: #E92C4E;
}

.conozca-mas {
  padding-top: 5.347vw;
  padding-bottom: 17.361vw;
  background-repeat: no-repeat;
  background-image: url(img/footer.jpg);
  background-position: left top;
  background-size: 170%;
}

@media only screen and (min-width: 768px) {
  .conozca-mas {
    background-position: 0;
    background-size: auto;
  }
}

@media only screen and (min-width: 1440px) {
  .conozca-mas {
    padding-top: 77px;
    padding-bottom: 250px;
  }
}

.conozca-mas h2 span {
  color: #E92C4E;
  font-family: FreightBigPro-BoldItalic;
}

.conozca-mas a {
  color: #000000;
  font-family: gtWalsheim-light;
  text-decoration: none;
}

.conozca-mas a, .conozca-mas p {
  font-size: 13px;
}

.conozca-mas p {
  line-height: 14px;
}

.conozca-mas p a {
  text-decoration: underline;
}

.conozca-mas ul {
  margin-top: 4vw;
  width: 45vw;
}

@media only screen and (min-width: 768px) {
  .conozca-mas ul {
    width: 18.056vw;
    margin-top: 5.903vw;
    margin-left: 5.07vw;
  }
}

@media only screen and (min-width: 1440px) {
  .conozca-mas ul {
    width: 260px;
    margin-top: 85px;
    margin-left: 73px;
  }
}

.conozca-mas li {
  margin-bottom: 1.432vw;
}

@media only screen and (min-width: 768px) {
  .conozca-mas li {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 768px) {
  .conozca-mas li:last-child {
    margin-top: 30px;
  }
}
